.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #641010;
}

.login-modal {
  height: 512px;
  width: 845px;
  background-color: #d9d9d9;
  padding: 49px 90px;
  font-size: 64px;
  border-radius: 10px;
}

.login-modal__title {
  margin-bottom: 41px;
  text-align: center;
}

.login-modal__input {
  display: block;
  width: 100%;
  height: 67px;
  background-color: #edf6f5;
  border: 1px solid #303635;
  border-radius: 6px;
  color: black;
  font-size: 32px;
  line-height: 39px;
  padding: 14px 21px;
  margin-bottom: 11px;
}

.login-modal__buttons {
  display: flex;
  justify-content: space-between;
}

.login-modal__buttons-signup {
  background-color: #641010;
  color: #e3e2bd;
}

.login-modal__buttons-signin {
  background-color: #eb9191;
  color: #2d2f2e;
}

.login-modal__button {
  cursor: pointer;
  width: 327px;
  height: 67px;
  border: 1px solid #303635;
  border-radius: 6px;
  padding: 15px 25px;
  font-size: 32px;
}
