@import './pages/login/login.css';
@import './pages/chat/chats.css';
@import './pages/registration/registration.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter',  sans-serif;
}

.input_error {
  color: red;
  border-color: red;
  background-color: rgb(236, 156, 156);
}